<li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6 lg:px-8">
  <div class="flex min-w-0 gap-x-4">
    <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="<%= resume.avatar_image.persisted? ? url_for(resume.avatar_image) : resume.recruter_image_url %>" alt="">
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">
        <a href="<%= resumes_replica_path(resume) %>">
          <span class="absolute inset-x-0 -top-px bottom-0"></span>
          <%= resume.recruter_full_name %>
        </a>
      </p>
      <p class="mt-1 flex text-xs leading-5 text-gray-500">
        <% if resume.recruter_email.present? %>
          <a href="mailto:<%= resume.recruter_email %>" class="relative truncate hover:underline"><%= resume.recruter_email %></a>
        <% else %>
          <p class="relative truncate hover:underline text-gray-300 italic">email not present</p>
        <% end %>
      </p>
    </div>
  </div>
  <div class="flex shrink-0 items-center gap-x-4">
    <div class="hidden sm:flex sm:flex-col sm:items-end">
      <p class="text-sm leading-6 text-gray-900"><%= resume.title %></p>
      <div class="mt-1 flex items-center gap-x-1.5">
        <div class="flex-none rounded-full bg-emerald-500/20 p-1">
          <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
        </div>
        <p class="text-xs leading-5 text-gray-500">Ready</p>
      </div>
    </div>
    <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
  </div>
</li>
