<div class="w-full">
  <div id="resumes" class="min-w-full mb-6">
    <% if @resume.present? && (@resumes_replicas.count > 0) %>
      <%= render partial: "resume", collection: @resumes_replicas %>
    <% elsif @resume.present? && (@resumes_replicas.count == 0) %>
      <%= render "layouts/shared/notice", notice: 'Click "Generate resume replica"' %>
    <% else %>
      <%= render "layouts/shared/notice", alert: "Create your original resume first" %>
    <% end %>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Resumes</h1>
    <div class="flex justify-end space-x-3">
      <% if @resume.present? %>
        <%= link_to "Generate resume replica", new_resumes_replica_path, class: "rounded py-3 px-5 border-2 border-blue-600 text-blue-600 block font-medium" %>
      <% end %>
      <%= link_to "Edit original resumer", edit_resume_path, class: "rounded py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>
</div>
