<%= form_with(model: resume, url: resume_path, class: "contents") do |form| %>
  <% if resume.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
        <% resume.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-6 py-6">
    <div class="flex flex-col mb-3">
      <%= form.label :about %>
      <%= form.text_area :about %>
    </div>

    <%= turbo_frame_tag "resume_experiences" do %>
      <%= form.fields_for :experiences do |experience_subform| %>
        <%= turbo_frame_tag experience_subform.object do %>
          <div class="flex flex-col space-y-4 p-3 my-3 border border-black">
            <div class="flex flex-col">
              <%= experience_subform.label :title %>
              <%= experience_subform.text_field :title %>
            </div>
            <div class="flex flex-col">
              <%= experience_subform.label :description %>
              <%= experience_subform.text_area :description %>
            </div>
            <div class="flex flex-col">
              <%= experience_subform.label :started_at %>
              <%= experience_subform.date_field :started_at %>
            </div>
            <div class="flex flex-col">
              <%= experience_subform.label :ended_at %>
              <%= experience_subform.date_field :ended_at %>
            </div>

            <div class="flex flex-col">
              <%= experience_subform.label :skills %>
              <%= experience_subform.text_field :skills %>
            </div>

            <%= link_to 'Delete', experience_path(id: experience_subform.object.id), class: "text-red-500 px-2 py-1 border border-red-500 mt-3 ml-auto", data: { turbo_stream: true, turbo_method: :delete } %>
          </div>
        <% end %>
      <% end %>

      <%= link_to "Add experience", experiences_path(id: resume.id), data: { turbo_method: :post }, class: "text-indigo-700 px-2 py-1 border border-indigo-700 mt-3" %>
    <% end %>

    <div class="flex flex-col">
      <%= form.label :loom_video_code %>
      <%= form.text_area :loom_video_code %>
    </div>

    <div class="flex flex-col">
      <%= form.label :calendy_code %>
      <%= form.text_area :calendy_code %>
    </div>
  </div>


  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
