<!DOCTYPE html>
<html>
  <head>
    <title>FreelanceFace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex flex-col pb-12">
      <div class="mx-auto md:w-2/3 w-full pb-6">
        <% if notice %>
          <%= render "layouts/shared/notice", notice: notice %>
        <% end %>
        <% if alert %>
          <%= render "layouts/shared/notice", notice: alert %>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </body>
  <span class="field_with_errors"></span>
</html>
