<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-7FZSE46SXN"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7FZSE46SXN');
      </script>
    <% end %>
    <title><%= yield(:title) || "FreeLance Face" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if controller_name == "home" %>
      <div class="p-3 sticky top-0 backdrop-blur-md bg-white/30 border-b border-gray-500/30 shadow-md flex items-center justify-between z-10">
        <div class="flex items-center">
          <%= image_tag 'logo.png', class: "w-8 md:w-16" %>
          <h1 class="font-bold text-xl md:text-2xl ml-4">Freelance Face</h1>
        </div>
        <div class="flex flex-col md:flex-row justify-end items-end">
          <%= link_to 'Create account', new_user_registration_path, class: "ring ring-2 ring-red-500 rounded py-2 px-4 bg-red-600 text-white inline-block font-medium cursor-pointer" %>
        </div>
      </div>
    <% end %>
    <main class="container mx-auto mt-6 md:mt-12 px-5 flex flex-col pb-32">
      <div class="mx-auto md:w-2/3 w-full pb-6">
        <% if notice %>
          <%= render "layouts/shared/notice", notice: notice %>
        <% end %>
        <% if alert %>
          <%= render "layouts/shared/notice", notice: alert %>
        <% end %>
      </div>
      <div class="mx-auto md:w-2/3 w-full">
        <%= yield %>
      </div>
    </main>
  </body>
  <% if controller_path.start_with?("front_office") %>
  <% else %>
    <div class="fixed bottom-0 left-0 flex">
      <a href="https://linktr.ee/roland_lopez" class="px-2 pt-2 border rounded bg-white w-32">
        <%= image_tag 'me.png', class: "" %>
      </a>
    </div>
  <% end %>
</html>
